<html>
  <head>
    <title>Moshi</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="row pt-5">
      <div class="col"></div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p class="card-text">Moshi Moshi Django fuckers.</p>
            <a href="#" class="btn btn-dark btn-outline-success">Do nothing</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </body>
</html>
